/*  your css code here. If applicable */
#container{
	display: flex;
	position:relative;
	justify-content: center;
	
	
}
#eg1{
	width:50%;
	height:50%
	object-fit: cover;
}
#eg4{
	background-color: red;
	color: white;
	border: white;
	margin-left: 140px
}
#eg3{
	margin-left: 50px;
	text-align: center;
}
#eg2{
	margin-left: 50px
}